@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-family:  Verdana, sans-serif;
}
html,body {
  height : 100%;
  width : 100%;
}
::-moz-selection { 
  color: rgb(218, 215, 215);
  background: #03089a;
}

::selection {
  color: rgb(218, 215, 215);
  background: #03089a;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px; /* Adjust the value based on your header height */
}
.login-bg{
  background-image: linear-gradient(rgba(188, 188, 188, 0.8) .1em, transparent .1em), linear-gradient(90deg, rgba(163, 163, 163, 0.2) .1em, transparent .1em);
  background-size: 3em 3em;
}
/* Hide the scrollbar for Webkit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

img {
  pointer-events: none;
}
/* xs */
@media (max-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}
/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}
